<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static '/js/fontawesome-all.min.js' %}"></script>
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">

    <style>
        .strikeout { color:#888;}
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #f4eee3; color:#333;}
        .navbar {background-color: #008b42 !important;}
        .navbar-default { background-color: #FF0000; border-color: #E7E7E7; }
        a { color: #008b42; }
        .pagination a { float: left; padding: 8px 16px; text-decoration: none; border: 1px solid #ddd; transition: background-color .3s;}
        .pagination .active { color: white; background-color: #008b42; float: left; text-decoration: none; border: 1px solid #ddd; }
        .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>

    {% block extrascripts %} 
    {% endblock %}
    <title>{% block title %} AniShare {% endblock %}</title>
</head>
{% if settings.TEST_ENVIRONMENT %}
<div class="alert alert-danger" role="alert">
    <h2><p class="text-center">Testversion</p></h2><p></p>
</div>  
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/">AniShare</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "> <a class="nav-item nav-link" href="/animals/">Animals</a> </li>
            {% if settings.SHOW_ORGANS %}
            <li class="nav-item"> <a class="nav-item nav-link" href="/organs/">Organs</a> </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-collapse collapse w-110 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
                {% if settings.MOUSEDB and settings.FISHDB %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="/animals/micefrompyrat">Mouse</a>
                    <a class="dropdown-item" href="/animals/pupfrompyrat">Pup</a>
                    <a class="dropdown-item" href="/animals/fishfromtickatlab">Fish</a>
                    {% if settings.SHOW_ORGANS %}
                    <a class="dropdown-item" href="/admin/animals/organ/add/">Organ</a>
                    {% endif %}
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Animal
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="/animals/add">New Entry</a>
                    <a class="dropdown-item" href="/organs/add">New Organ</a>
                    <a class="dropdown-item" href="/animals/import">Import</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search Request
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="/searchrequest/animal/add">Add animal search request</a>
                    <a class="dropdown-item" href="/searchrequest/animal/list">List / Edit</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Archive
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="/admin/animals/animal/">Animal</a>
                        {% if settings.SHOW_ORGANS %}
                        <a class="dropdown-item" href="/admin/animals/organ/">Organ</a>
                        {% endif %}
                    </div>
                </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item"> <a class="nav-item nav-link"> Logged in as: {{ user  }}   </a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href="/accounts/logout">Logout</a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <li class="nav-item"> <a class="nav-item nav-link" href=""></a> </li>
            <!--li class="nav-item"> <a class="nav-item nav-link" href="/animals/feed">RSS Feed</a> </li-->
            <li class="nav-item"> <a class="nav-item nav-link" href="{% static '/doc/html/index.html' %}" target="_blank">?</a> </li>{% endif %}
        </ul>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}

{% endblock %}
{% include "footer.html" %} 


</body>
</html>
