<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
-->

<!-- Optional theme 
<link rel="stylesheet" href="/static/css/bootstrap-theme.cosmo.min.css" >
-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/solid.css" integrity="sha384-HTDlLIcgXajNzMJv5hiW5s2fwegQng6Hi+fN6t5VAcwO/9qbg2YEANIyKBlqLsiT" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.cerulean.min.css' %}" >
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/bootstrap-solarized-dark.css' %}">-->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .strikeout { color:#888;}
    </style>

    <title>{% block title %} AniShare {% endblock %}</title>
</head>

<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="#">AniShare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/animals/">Home</a>
      <a class="nav-item nav-link" href="/animals/all">All Animals</a>
      <a class="nav-item nav-link" href="/animals/archive">Archive</a>
      <a class="nav-item nav-link" href="/admin">Admin</a>
      <span class="nav-item nav-link">{% if user.is_authenticated %} Logged in as {{ user.first_name }} {{ user.last_name }} {% endif %} </span>
      <a class="nav-item nav-link" href="/accounts/logout">Logout</a>
    </div>
  </div>
</nav>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="#">AniShare</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
      <a class="nav-item nav-link" href="/animals/">Home</a>
            </li>
            <li class="nav-item">
      <a class="nav-item nav-link" href="/animals/all">All Animals</a>
            </li>
            <li class="nav-item">
      <a class="nav-item nav-link" href="/animals/archive">Archive</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-110 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <span class="nav-item nav-link">{% if user.is_authenticated %} Logged in as: {{ user  }}   </span>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/accounts/logout">Logout</a>{% endif %}
            </li>
            <li class="nav-item">
      <a class="nav-item nav-link" href="/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}

{% endblock %}

<div class="col-xs-12" style="height:50px;"></div>

<div class='footer'>
    <div class="col-md-3">
        <div id="c5" class="csc-default">
            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                <div class="csc-textpic-imagewrap">
                    <div class="csc-textpic-center-outer">
                        <div class="csc-textpic-center-inner">
                            <div class="csc-textpic-image csc-textpic-last"><a href="/"><img style="width:256px;" src="/static/FLI_Logo_engl_HZ_4c__Konvertiert_.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div id="c1" class="csc-default">
            <div class="csc-text"><p>Beutenbergstraße 11<br>D-07745 Jena&nbsp; •&nbsp; Germany</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div id="c2" class="csc-default">
            <div class="csc-text"><p>Phone: +49 3641 65-6000<br>Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +49 3641 65-6351</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div id="c3" class="csc-default">
            <div class="csc-text"><p>E-mail: <a href="javascript:linkTo_UnCryptMailto('qempxs.mrjsDpimfrmd1jpm2hi');" title="Opens window for sending email" class="mail">info@leibniz-fli.de</a> <br><a href="http://www.leibniz-fli.de" title="Opens external link in new window" class="external-link-new-window">www.leibniz-fli.de</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="c4" class="csc-default">
            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                <div class="csc-textpic-imagewrap">
                    <div class="csc-textpic-center-outer">
                        <div class="csc-textpic-center-inner">
                            <div class="csc-textpic-image csc-textpic-last"><a href="https://www.leibniz-gemeinschaft.de/en/home/" target="_blank"><img src="{% static 'Leibniz_Logo_EN_blue_black_500px.png' %}" width="110" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-xs-12" style="height:50px;"></div>
        
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
</body>
</html>
