{% load static %}
<div class="container" style="height:50px;"></div>
    <div class="row">
        <div class="col-sm"> </div>
        <div class="col-sm"> <a href="http://www.leibniz-fli.de"><img style="width:256px;" src="{% static 'FLI_Logo_engl_HZ_4c__Konvertiert_.png' %}" alt=""></a></div>
        <div class="col-sm"> Beutenbergstraße 11<br>D-07745 Jena&nbsp; •&nbsp; Germany </div>
        <div class="col-sm"> Phone: +49 3641 65-6000<br>Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +49 3641 65-6351 </div>
        <div class="col-sm"> E-mail: <a href="mailto:info@leibniz-fli.de">info@leibniz-fli.de</a> <br><a href="http://www.leibniz-fli.de" title="Opens external link in new window" class="external-link-new-window">www.leibniz-fli.de</a> 
</br> <a href="http://www.leibniz-fli.de/de/datenschutz/">data privacy</a> </div>
        <div class="col-sm"> <a href="https://www.leibniz-gemeinschaft.de" target="_blank"><img src="{% static 'Leibniz_Logo_EN_blue_black_500px.png' %}" width="110" alt=""></a></div>
        <div class="col-sm"> </div>
    </div>
</div>