{% extends 'base.html' %}

{% block content %}

  On 
  {{object.entry_date}},

  {{object.responsible_person}} offered
  the {{object.get_sex_display}}
  {{object.animal_type}} id {{object.pk}}
  born on {{object.day_of_birth}} ({{object.age}} weeks old)
  available from {{object.available_from}} until
  {{object.available_to}}

  <br/>Details about this {{object.animal_type}}:<br/>
  Strain/Line: {{object.line}}<br/>
  Mutations:{{object.mutations}}<br/>
  Location: {{object.location}}<br/>
  License-#: {{object.licence_number}}<br/>
  Comment: {{object.comment}}<br/>

  This animal 
      {% if object.new_owner %}
          has been claimed by {{object.new_owner}}
      {% elif object.available %}
          can be <a href="/claim">claimed!</a>
      {% else %}
          is no longer available
      {% endif %}

{% endblock %}

