{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {% block extrascripts %}

<script src="{% static '/js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/dataTables.bootstrap4.min.css' %}">
<!-- https://datatables.net/reference/option/pageLength -->
{% endblock %} {% block content %}
<h1 class="text-center"> Confirm Request</h1>
{% if confirmed == 0 %}
<div class="alert-danger" role="alert"> {{message}}</div>
{% endif %}
{% if confirmed == 1 %}
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{% endif %}
{% endblock %}