{% extends 'base.html' %}

{% block content %}

<div class="alert alert-info" role="alert">
    Dear <b>{{request.user.first_name}} {{request.user.last_name}}</b>, do you really want to offer the following fish?<br/>
</div>

<form action="/animals/importfishtoanishare" method="post" style="margin:auto; text-align:center;"> {% csrf_token %}
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> Animal-ID<i class="icon-sort"></i></th>
                  <th class="header"> # <i class="icon-sort"></i></th>
                  <th class="header"> Available from <i class="icon-sort"></i></th>
                  <th class="header"> Available to <i class="icon-sort"></i></th>
                  <th class="header"> Sex<i class="icon-sort"></i></th>
                  <th class="header"> Age<i class="icon-sort"></i></th>
                  <th class="header"> Date of Birth <i class="icon-sort"></i></th>
                  <th class="header"> Line <i class="icon-sort"></i></th>
                  <th class="header"> Location <i class="icon-sort"></i></th>
                  <th class="header"> License <i class="icon-sort"></i></th>
                  <th class="header"> Comments <i class="icon-sort"></i></th>
                  <th class="header"> Resp. Person <i class="icon-sort"></i></th>
                  <th class="header"> Second Resp. Person <i class="icon-sort"> <button type="button" class="btn btn-success btn-sm">Copy</button></i></th>
                </tr>
            </thead>
            <tbody>
                {% for f in filter.qs %}
                        <input name="id" type="hidden" value="{{f.id}}" readonly="readonly" id="select{{f.id}}">
                    <tr>
                        <td>{{f.concatidentifier}}</a></td>
                        <td>{{f.quantity}}</td>
                        <td><input class="from" name="availablefrom"  type="date" id="from{{a.id}}" min=""></td> 
                        <td><input class="to" name="availableto" type="date" id="to{{a.id}}" min=""></td>
                        <td>{% if f.sex == 2 %}
                            <i class="fas fa-venus" style="color:#F77; font-size:13pt;"></i>
                            {% elif f.sex == 1 %}
                            <i class="fas fa-mars" style="color:#77F; font-size:13pt;"></i>
                            {% else %}
                            <i class="fas fa-question"></i>
                            {% endif %}
                          </td>
                        <td>{{f.age}}</td>
                        <td>{{f.dob}}</td>
                        <td>{{f.strain}}</td>
                        <td>{{f.location}}</td>
                        <td>{{f.license}}</td>
                        <td>{{f.notes}}</td>
                        <td>{{f.responsible}}</td>
                        <td>
                            <select name="responsible_person2" required="" id="responsible_person{{a.id}}" class="form-control" id="sel1"><option></option>
                            {% for p in persons %}<option>{{p.name}}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        <input type="submit" name='claim' value="Yes, I want to offer these fish!">
</form>

<script type="text/javascript">
var d1 = new Date();
var y1= d1.getFullYear();
var m1 = d1.getMonth()+1;
var m1temp = m1;
if(m1<10)
    m1="0"+m1;
var dt1 = d1.getDate();
if(dt1<10)
dt1 = "0"+dt1;
var d2 = y1+"-"+m1+"-"+dt1;
var list, index;
list = document.getElementsByClassName('from');
for (index = 0; index < list.length; ++index) {
    list[index].setAttribute('value',d2);
    list[index].setAttribute('min',d2);
}
list = undefined;
index = undefined;
var todate=new Date(y1,m1,dt1+14);
var y2=todate.getFullYear();
var m2=todate.getMonth();
var dt2=todate.getDate();
if(m2<10)
    m2="0"+m2;
if(dt2<10)
dt2 = "0"+dt2;
var dto = y2+"-"+m2+"-"+dt2;
list = document.getElementsByClassName('to');
for (index = 0; index < list.length; ++index) {
    list[index].setAttribute('value',dto);
    list[index].setAttribute('min',dto);
}
</script>
{% endblock %}