{% extends 'base.html' %}

{% block content %}

{% if all_animals %}
<h1 class="text-center"> Animal Data </h1>
	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> Amount <i class="icon-sort"></i></th>
                  <th class="header"> Type <i class="icon-sort"></i></th>
                  <th class="header"> Sex<i class="icon-sort"></i></th>
                  <th class="header"> Entry Date<i class="icon-sort"></i></th>
                  <th class="header"> Date of Birth <i class="icon-sort"></i></th>
                  <th class="header"> Age <i class="icon-sort"></i></th>
                  <th class="header"> Available From <i class="icon-sort"></i></th>
                  <th class="header"> Available To <i class="icon-sort"></i></th>
                  <th class="header"> Line <i class="icon-sort"></i></th>
                  <th class="header"> Mutations <i class="icon-sort"></i></th>
                  <th class="header"> Location <i class="icon-sort"></i></th>
                  <th class="header"> New Owner <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                    {% for a in all_animals %}
                    <tr {% if not a.available %}class="strikeout"{% endif %}>
                        <td>{{a.available}}</td>
                        <td>{{a.animal_type}}</td>
                        <td>{{a.get_sex_display}}</td>
                        <td>{{a.entry_date}}</td>
                        <td>{{a.day_of_birth}}</td>
                        <td>{{a.age}}</td>
                        <td>{{a.available_from}}</td>
                        <td>{{a.available_to}}</td>
                        <td>{{a.line}}</td>
                        <td>{{a.mutations}}</td>
                        <td>{{a.location}}</td>
                        <td>
                            {% if a.new_owner %}
                                {{a.new_owner}}
                            {% elif a.available %}
                                <a href="/claim">Claim!</a>
                            {% else %}
                                no longer available
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>
{% endif %}



{% endblock %}
