{% extends 'base.html' %}
{% load static %}

{% block extrascripts %}

  <script src="{% static '/js/jquery-2.0.3.min.js' %}"></script>
  <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
      "searching": false,
      "paging": false,
      });
    } );
  </script>
  
{% endblock %}

{% block content %}
{% if all_animals %}
<h1 class="text-center"> AniShare </h1>
	<div class="col-lg-12">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> ID <i class="icon-sort"></i></th>
                  <th class="header"> # <i class="icon-sort"></i></th>
                  <th class="header"> Type <i class="icon-sort"></i></th>
                  <th class="header"> Sex<i class="icon-sort"></i></th>
                  <th class="header"> Date of Birth <i class="icon-sort"></i></th>
                  <th class="header"> Age (w) <i class="icon-sort"></i></th>
                  <th class="header"> Available From/To <i class="icon-sort"></i></th>
                  <th class="header"> Line <i class="icon-sort"></i></th>
                  <th class="header"> Organ Type <i class="icon-sort"></i></th>
                  <th class="header"> Mutations <i class="icon-sort"></i></th>
                  <th class="header"> Location <i class="icon-sort"></i></th>
                  <th class="header"> License# <i class="icon-sort"></i></th>
                  <th class="header"> Resp. Person<i class="icon-sort"></i></th>
                  <th class="header"> New Owner <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                    {% for a in all_animals %}
                    <tr {% if not a.available %}class="strikeout"{% endif %}>
                        <td><a href="/animals/{{a.pk}}">{{a.pk}}</a></td>
                        <td>{{a.amount}}</td>
                        <td>{{a.animal_type}}</td>
                        <td>{% if a.get_sex_display == 'female' %}
                            <i class="fas fa-venus" style="color:#F77; font-size:13pt;"></i>
                            {% elif a.get_sex_display == 'male' %}
                            <i class="fas fa-mars" style="color:#77F; font-size:13pt;"></i>
                            {% else %}
                            <i class="fas fa-question"></i>
                            {% endif %}
                        </td>
                        <td>{{a.day_of_birth}}</td>
                        <td>{{a.age}}</td>
                        <td>{{a.available_from}}<br/>
                            {{a.available_to}}</td>
                        <td>{{a.line}}</td>
                        <td>{{a.organ_type}}</td>
                        <td>{{a.mutations}}</td>
                        <td>{{a.location}}</td>
                        <td>{{a.licence_number}}</td>
                        <td>{{a.responsible_person}}</td>
                        <td>
                            {% if a.new_owner %}
                                {{a.new_owner}}
                            {% elif a.available %}
                            <a href="/animals/claim/{{a.pk}}">Claim!</a>
                            {% else %}
                                no longer available
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



{% endblock %}
