{% extends 'base.html' %}
{% load static %}

{% block extrascripts %}

  <script src="{% static '/js/jquery-2.0.3.min.js' %}"></script>
  <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  
  
{% endblock %}

{% block content %}

<h1 class="text-center"> AniShare Macros</h1>
	<div class="col-lg-12">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> Source System <i class="icon-sort"></i></th>
                  <th class="header"> Animal or Organ<i class="icon-sort"></i></th>
                  <th class="header"> Office Version<i class="icon-sort"></i></th>
                  <th class="header"> Installation instructions <i class="icon-sort"></i></th>
                  <th class="header"> Link to the macro<i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> PyRat </td>
                        <td> Animal </td>
                        <td> Libre Office </td>
                        <td> <a href="/static/macros/libreoffice/install_macro_libreoffice_pyrat.pdf">install_macro_libreoffice_pyrat.pdf</a></td>
                        <td> <a href="/static/macros/libreoffice/pyrat_anishare_libreoffice_macro.zip">pyrat_anishare_libreoffice_macro.zip</a></td>
                    </tr>
                    <tr>
                        <td> PyRat </td>
                        <td> Animal</td>
                        <td> Microsoft Office </td>
                        <td> <a href="/static/macros/msoffice/install_macro_msoffice.pdf">install_macro_msoffice_pyrat.pdf</a></td>
                        <td> <a href="/static/macros/msoffice/pyrat_anishare_msoffice_animal_macro.bas">pyrat_anishare_msoffice_animal_macro.bas</a></td>
                    </tr> 
                    <tr>
                        <td> PyRat </td>
                        <td> Organ </td>
                        <td> Libre Office </td>
                        <td> Please use the documentation for importing the animals and use the function PyRatAniShareOrgan<br> <a href="/static/macros/libreoffice/install_macro_libreoffice_pyrat.pdf">install_macro_libreoffice_pyrat.pdf</a></td>
                        <td> <a href="/static/macros/libreoffice/pyrat_anishare_libreoffice_macro.zip">pyrat_anishare_libreoffice_macro.zip</a></td>
                    </tr>
                    <tr>
                        <td> PyRat </td>
                        <td> Organ</td>
                        <td> Microsoft Office </td>  
                        <td> <a href="/static/macros/msoffice/install_macro_msoffice.pdf">install_macro_msoffice_pyrat.pdf</a></td>
                        <td> <a href="/static/macros/msoffice/pyrat_anishare_msoffice_organ_macro.bas">pyrat_anishare_msoffice_organ_macro.bas</a></td>
                    </tr> 
                    <tr>
                        <td> tick@lab </td>
                        <td> Animal </td>
                        <td> Libre Office </td>
                        <td> <a href="/static/macros/libreoffice/install_macro_libreoffice_tickatlab.pdf">install_macro_libreoffice_tickatlab.pdf</a></td>
                        <td> <a href="/static/macros/libreoffice/tickatlab_anishare_libreoffice_macro.zip">tickatlab_anishare_libreoffice_macro.zip</a></td>
                    </tr>  
                    <tr>
                        <td> tick@lab </td>
                        <td> Animal</td>
                        <td> Microsoft Office </td>
                        <td> <a href="/static/macros/msoffice/install_macro_msoffice.pdf">install_macro_msoffice_tickatlab.pdf</a></td>
                        <td> <a href="/static/macros/msoffice/tickatlab_anishare_msoffice_animal_macro.bas">tickatlab_anishare_msoffice_animal_macro.bas</a></td>
                    </tr>              
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}
