{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {% block extrascripts %}

<script src="{% static '/js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/dataTables.bootstrap4.min.css' %}">

<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
      "searching": true,
      "scrollX": false,
      "order": [[0, 'desc']],
      "scrollCollapse": true,
      "paging": true,
      "pageLength": 100, 
    });
  });
</script> {% endblock %} {% block content %}
<style>
  <!-- style the filterform so it kinda fits on the screen>#filterform label {
    font-size: 75%;
  }

  #filterform select {
    font-size: 75%;
  }

  #filterform input {
    font-size: 75%;
  }

  #filterform {
    padding: 10px;
  }
</style>
<h1 class="text-center"> Mice from PyRat</h1>
<!--<form id='filterform' style="padding-top:5px;" action="" method="get">
        {{ filter.form.as_table }}
        <input type="submit" value="Filter"/>
    </form>-->
<div class="col-lg-12">    
<h5>Dear AniShare user, because of a new configuration of the PyRAT Databse the import using this site is temporarly not available. 
  We expect the import is online again on Wednesday (3.7.) after lunch. You have still the posibility to import mice using the excel files 
  <a href="https://anishare.leibniz-fli.de/admin/animals/animal/import/">https://anishare.leibniz-fli.de/admin/animals/animal/import/</a> or 
  if you like to offer only a few mice you can add it manually <a href="https://anishare.leibniz-fli.de/admin/animals/animal/add/">https://anishare.leibniz-fli.de/admin/animals/animal/add/</a>
  Also I can help you to offer mice. Please contact me (Fabian Monheim fabian.monheim@leibniz-fli.de, 6872) if I can help.
</h5>
<h5 class="text-center">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</h5>
<h5>Liebe AniShare Nutzer, da gerade Anpassungen an der PyRAT Datenbank erfolgen, ist der Import über diese Seite zur Zeit nicht möglich. 
    Wir gehen davon aus, dass diese Seite ab Mittwochmittag wieder zur Verfügung steht. Alternativ gibt es die Möglichkeit den Import mit den Exceltabellen
    durchzuführen <a href="https://anishare.leibniz-fli.de/admin/animals/animal/import/">https://anishare.leibniz-fli.de/admin/animals/animal/import/</a> oder
    wenn es nur ein paar wenige Mäuse sind, können diese manuell über 
    <a href="https://anishare.leibniz-fli.de/admin/animals/animal/add/">https://anishare.leibniz-fli.de/admin/animals/animal/add/</a> eingetragen werden.
    Außerdem stehe ich gerne zur Verfügung, um beim Import zu helfen. Bitte nehmt dafür mit mir Kontakt auf (Fabian Monheim fabian.monheim@leibniz-fli.de, 6872). 
  </h5>
  </div>
{% endblock %}