{% extends 'base.html' %}
{% load static %} {% load widget_tweaks %}

{% block extrascripts %}

  <script src="{% static '/js/jquery-2.0.3.min.js' %}"></script>
  <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "searching": true,
        "scrollX": false,
        "order": [[0, 'desc']],
        "scrollCollapse": true,
        "paging": true,
      });
    } );
  </script>
  
{% endblock %}

{% block content %}
<style>
<!-- style the filterform so it kinda fits on the screen -->
  #filterform label { font-size:75%;}
  #filterform select { font-size:75%;}
  #filterform input { font-size:75%;}
  #filterform { padding:10px;}
</style>
<h1 class="text-center"> AniShare Organs</h1>
    <!--form id='filterform' style="padding-top:5px;" action="" method="get">
        {{ filter.form.as_table }}
        <input type="submit" value="Filter"/>
    </form-->
    <form method="get">
      <div class="well">
        <div class="container-fluid">
          <div class="m-sm-2">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#filterBlock">Filter</button>
          </div>
          <div id="filterBlock" class="collapse">
            <div class="row">
              <div class="form-group col-sm-4 col-md-1">
                {{ filter.form.animal_type.label_tag }} {% render_field filter.form.animal_type class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-1">
                {{ filter.form.sex.label_tag }} {% render_field filter.form.sex class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-1">
                {{ filter.form.day_of_death.label_tag }} {% render_field filter.form.day_of_death class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-2">
                {{ filter.form.method_of_killing.label_tag }} {% render_field filter.form.method_of_killing class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-2">
                {{ filter.form.killing_person.label_tag }} {% render_field filter.form.killing_person class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-2">
                {{ filter.form.line.label_tag }} {% render_field filter.form.line class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-2">
                {{ filter.form.location.label_tag }} {% render_field filter.form.location class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-2">
                {{ filter.form.responsible_person.label_tag }} {% render_field filter.form.responsible_person class="form-control" %}
              </div>
              <div>
                <p>
                  <button type="submit" style="margin-top:42%;" class="btn">Search</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
	<div class="col-lg-12">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> ID <i class="icon-sort"></i></th>
                  <!--th class="header"> # <i class="icon-sort"></i></th-->
                  <th class="header"> Type <i class="icon-sort"></i></th>
                  <th class="header"> Organ used<i class="icon-sort"></i></th>
                  <th class="header"> Sex<i class="icon-sort"></i></th>
                  <th class="header"> Date of Birth <i class="icon-sort"></i></th>
                  <th class="header"> Date of Death <i class="icon-sort"></i></th>
                  <th class="header"> Sacrifice Method <i class="icon-sort"></i></th>
                  <th class="header"> Euthanasia performed by<i class="icon-sort"></i></th>
                  <th class="header"> Age (w) <i class="icon-sort"></i></th>
                  <th class="header"> Line <i class="icon-sort"></i></th>
                  <th class="header"> Mutations <i class="icon-sort"></i></th>
                  <th class="header"> Location <i class="icon-sort"></i></th>
                  <th class="header"> License# <i class="icon-sort"></i></th>
                  <th class="header"> Lab ID <i class="icon-sort"></i></th>
                  <th class="header"> Comment <i class="icon-sort"></i></th>
                  <th class="header"> Resp. Person<i class="icon-sort"></i></th>
                  <!--th class="header"> Added By<i class="icon-sort"></i></th-->
                  <th class="header"> New Owner <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                  {% for a in filter.qs %}
                    <tr {% if not a.available %}class="strikeout"{% endif %}>
                        <td>{{a.pk}}</td>
                        <!--td>{{a.amount}}</td-->
                        <td>{{a.animal_type}}</td>
                        <td>{{a.get_organtypes}}</td>
                        <td>{% if a.get_sex_display == 'female' %}
                            <i class="fas fa-venus" style="color:#F77; font-size:13pt;"></i>
                            {% elif a.get_sex_display == 'male' %}
                            <i class="fas fa-mars" style="color:#77F; font-size:13pt;"></i>
                            {% else %}
                            <i class="fas fa-question"></i>
                            {% endif %}
                        </td>
                        <td>{{a.day_of_birth}}</td>
                        <td>{{a.day_of_death}}</td>
                        <td>{{a.method_of_killing}}</td>
                        <td>{{a.killing_person}}</td>
                        <td>{{a.age}}</td>
                        <td>{{a.line}}</td>
                        <td>{{a.mutations}}</td>
                        <td>{{a.location}}</td>
                        <td>{{a.licence_number}}</td>
                        <td>{{a.lab_id}} </td>
                        <td>{{a.comment}}<br/>
                        <td>{{a.responsible_person}}</td>
                        <!--td><a href="mailto:{{a.added_by.email}}">{{a.added_by.first_name}} {{a.added_by.last_name}}</a></td-->
                        <td>
                            {% if a.new_owner %}
                                {{a.new_owner}}
                            {% elif a.available %}
                            <a href="/organs/claim/{{a.pk}}">Claim!</a>
                            {% else %}
                                no longer available
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



{% endblock %}
