[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.4"
django-auth-ldap = ">=1.5.0"
django-filter = ">=2.0"
"pyasn1" = ">=0.4.2"
"pyasn1-modules" = ">=0.2.1"
python-ldap = ">=3.0.0"
pytz = ">=2018.4"
pyyaml = ">=3.12"
xlrd = ">=1.1.0"
django-admin-rangefilter = "==0.3.6"
django-widget-tweaks = ">=1.4.2"
django-import-export = ">=1.0.1"
django-modeladmin-reorder = ">=0.1.0"
django-bootstrap-email = ">=0.0.1"
django-admin-list-filter-dropdown = ">=1.0.1"
django-admin-interface = ">=0.6.3"
cx-oracle = ">=7.0.0"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]

[requires]
python_version = "3.6"
